@if (ViewData["Error"] != null)
{
    <div>@ViewData["Error"]</div>
}
<form asp-controller="User" asp-action="ChangePassword" method="post">
    <div>현재 비밀번호 <input name=OldPassword type="text" placeholder="Password" /></div>
    <div>변경할 비밀번호 <input name=NewPassword type="text" placeholder="Password" /></div>
    <div>재확인 비밀번호 <input name=ChackPassword type="text" placeholder="Password" /></div>
</form>



