@if (ViewData["Error"] != null)
{
    <div>@ViewData["Error"]</div>
}
<form asp-controller="User" asp-action="UpdateUser" method="post" >
    <div>내 이름 : <input name=newUserName type="text" value="@Model.UserName" /></div>
    <input type="submit" value="전송">
</form>
<a class="nav-link text-dark" asp-controller="user" asp-action="ChangePassword">비밀번호 변경</a>

<a class="nav-link text-dark" asp-route-id="@Model.Id" asp-controller="user" asp-action="Delete">회원탈퇴</a>



