@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Pps" asp-action="create" method="post">
    <input type="text" name="controlNumber" placeholder="controlNumber" value="" />
    <input type="date" name="date" placeholder="date" value="" />
    <input type="number" name="quantity" placeholder="quantity" value="" />
    <input type="text" name="operatorName" placeholder="operatorName" value="" />
    <input type="number" name="defectiveQuantity" placeholder="defectiveQuantity" value="" />
    <button>생성</button>
</form>