
<h1>ProcessStatus 생성페이지</h1>


<form asp-controller="ProcessStatus" asp-action="create" method="post">
    <div class="container">
        <div class="center">
            <div class="form-group">
                <label>상품명</label><input class="form-control" type="text" name="prodName" placeholder="prodName" value="" />
                <label>검수 담당자</label><input class="form-control" type="text" name="operatorName" placeholder="operatorName" value="" />
                <label>검사일</label><input class="form-control" type="date" name="date" placeholder="date" value="" />
                <label>생산갯수</label><input class="form-control" type="number" name="quantity" placeholder="quantity" value="" />
                <label>불량갯수</label><input class="form-control" type="number" name="defectiveQuantity" placeholder="defectiveQuantity" value="" />
                <button>생성</button>
            </div>
        </div>
    </div>
</form>
