<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h1 class="text-center mb-4">출고 검사 입력</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="hidden" name="oqcId" value=123 />
                <div class="form-group">
                    <label>관리번호</label>
                    <input type="text" class="form-control" name="controlnumber" id="controlnumber" value="관리번호" />
                    <button type="button" class="btn btn-info mt-2" onclick="fetchDataAndOpenModal()">DB 확인</button>
                </div>
                <label>공정명</label> <input type="text" class="form-control" name="processName" value="공정명" />
                <label>검사일시</label> <input type="date" class="form-control" name="inspectionTime" value="" />
                <label>검사수량</label> <input type="number" class="form-control" name="inspectionResult" value="1" />
                <label>작업자</label> <input type="text" class="form-control" name="inspector" value="" />
                <label>불량처리 확인자</label> <input type="text" class="form-control" name="confirmor" value="" />

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>용량 불량 수량</label> <input type="number" class="form-control" name="capacityDefect" value="0" />
                <label>손실 불량 수량</label> <input type="number" class="form-control" name="lossDefect" value="0" />
                <label>기포 불량 수량</label> <input type="number" class="form-control" name="bubbleDefect" value="1" />
                <label>센터 불량 수량</label> <input type="number" class="form-control" name="centerDefect" value="1" />
                <label>내경 불량 수량</label> <input type="number" class="form-control" name="innerDiameterDefect" value="1" />
                <label>마크 불량 수량</label> <input type="number" class="form-control" name="markDefect" value="1" />
                <label>케이스 불량 수량</label> <input type="number" class="form-control" name="caseDefect" value="1" />
                <label>에폭시 불량 수량</label> <input type="number" class="form-control" name="epoxyDefect" value="1" />
                <label>기타 불량 수량</label> <input type="number" class="form-control" name="etcDefect" value="1" />
                <label>기타 정보</label> <input type="text" class="form-control" name="etcInfo" value="1" />
            </div>
        </div>
    </div>
    <p></p>
    <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="Ajax('update')">DB 수정</button>
        <button type="button" class="btn btn-success" onclick="Ajax('create')">DB 추가</button>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" id="modalBtn" class="btn btn-primary" data-toggle="modal" data-target="#DataChoiceModal">
    데이터 목록
</button>

<!-- Modal -->
<div class="modal fade" id="DataChoiceModal" tabindex="-1" role="dialog" aria-labelledby="DataChoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DataChoiceModalLabel">데이터 선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="data">
                </div>
                test
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/oqc.js"></script>
