@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">My Smart Factory</a>.</p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="WorkOrder" asp-action="index">작업 지시 목록</a></div><p></p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="FullInspRecord" asp-action="index">전수 검사 기록</a></div><p></p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="ProdInfo" asp-action="index">상품 관리 번호</a></div><p></p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="ProdCtrlNo" asp-action="index">상품 검사 기록</a></div><p></p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="InspProdRecord" asp-action="index">검사 장비 정보</a></div><p></p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="InspEquip" asp-action="index">검사 장비 스펙</a></div><p></p>
    <div><a class="btn btn-primary" asp-area="" asp-controller="InspSpec" asp-action="index">검사 장비 세팅 기록</a></div><p></p>
</div>
