@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="ProdInfo" asp-action="create" method="post">
    <input type="text" name="prodName" placeholder="prodName" value="" />
    <input type="text" name="prodCode" placeholder="prodCode" value="" />
    <input type="text" name="prodWeight" placeholder="prodWeight" value="" />
    <button>생성</button>
</form>