
<h1>ProdInfo 생성 페이지</h1>
<form asp-controller="ProdInfo" asp-action="create" method="post">
    <div class="container">
        <div class="center">
            <div class="form-group">
                <label>상품명</label><input class="form-control" type="text" name="prodName" placeholder="prodName" value="" />
                <label>상품코드</label><input class="form-control" type="text" name="prodCode" placeholder="prodCode" value="" />
                <label>상품무게</label><input class="form-control" type="text" name="prodWeight" placeholder="prodWeight" value="" />
                <button>생성</button>
            </div>
        </div>
    </div>
</form>