@model My_Smart_Factory.Data.Dto.Insp.InspEquipSettingRecordDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InspEquipSettingRecordDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullInspNo" class="control-label"></label>
                <input asp-for="FullInspNo" class="form-control" />
                <span asp-validation-for="FullInspNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspEquipName" class="control-label"></label>
                <input asp-for="InspEquipName" class="form-control" />
                <span asp-validation-for="InspEquipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspSpecName" class="control-label"></label>
                <input asp-for="InspSpecName" class="form-control" />
                <span asp-validation-for="InspSpecName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionDateTime" class="control-label"></label>
                <input asp-for="InspectionDateTime" class="form-control" />
                <span asp-validation-for="InspectionDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IES" class="control-label"></label>
                <input asp-for="IES" class="form-control" />
                <span asp-validation-for="IES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
